<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../css/style.css">
    <title>ParfumApp - Catalogo Profumi</title>
</head>
<body>

    <h1>ParfumApp</h1>
    <h2>Catalogo & Listino Prezzi</h2>

    <hr>

    <h3>One Million</h3>
    <img src="../img/homepage/Profumo1.jpg" alt="One Million">
    <p>Prezzo: €99,59</p>

    <h3>Narciso Rodriguez</h3>
    <img src="../img/homepage/Profumo2.jpg" alt="Narciso Rodriguez">
    <p>Prezzo: €129,00</p>

    <h3>Carolina Herrera</h3>
    <img src="../img/homepage/Profumo3.jpg" alt="Carolina Herrera">
    <p>Prezzo: €91,00</p>

    <h3>Dior Sauvage</h3>
    <img src="../img/homepage/Profumo4.jpg" alt="Dior Sauvage">
    <p>Prezzo: €180,00</p>

    <h3>Valentino</h3>
    <img src="../img/homepage/Profumo5.jpg" alt="Valentino">
    <p>Prezzo: €96,95</p>

    <h3>Dolce Gabbana Devotion</h3>
    <img src="../img/homepage/Profumo6.jpg" alt="Dolce Gabbana Devotion">
    <p>Prezzo: €100,75</p>
    <hr>
    <footer>
        <p>© 2025 ParfumApp - Tutti i diritti riservati</p>
    </footer>

</body>
</html>
